<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div id="divRegistro">
        <h2>REGISTRO</h2>
        <form action="">
            <label for="ingreso">Bienvenido, ingrese su dni porfavor.</label>
            <input type="text" id="bienvenido">
            <br>
            <p>Debe registrase como nuevo jugador</p>
            <label for="nombre">Ingrese su nombre</label>
            <input type="text">
            <br>
            <label for="apellido">Ingrese su apellido</label>
            <input type="text">
            <br>
            <label for="dni">Ingrese su dni</label>
            <input type="text">
            <br>
            <label for="puesto">Ingrese su puesto</label>
            <input type="text">
            <br>
            <label for="altura">Ingrese su altura</label>
            <input type="text">
            <br>
            <label for="peso">Ingrese su peso</label>
            <input type="text">
        </div>



<script src="../js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script></body>
</body>
</html>